<!-- **this is the format for the "Partial" file rendering works when you don't create a layout ** -->
<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
        
    </head>
    <body>
        <%- include('_header'); -%>

        <h1>Main project / <%= title %> </h1>

        <%- include('_footer'); -%>
    </body>
</html> -->

<!-- **this is the format to follow express-ejs-layout to fill a single layout when follow router path, its jst fill the variable of layout** -->

<h1>Main project / <%= title %> </h1>
<section id="feed-posts">
    
    <% if(locals.user){ %>
        <h4>Posts</h4>
        <form  id="new-post-form" action="/post/create" method="post">
            <textarea name="content" id="new-post-content" cols="30" rows="3" placeholder="type here...." required ></textarea>
            <input type="submit" value="post">
        </form>
    <%}%>
    
   
        <div id="posts-display-container">
            <ul class="post-list">
                <% for(let i of posts){ %>
                    
                    <li>
                        <p class="user">User: <%= i.User.name %> </p>
                        <% if(locals.user && locals.user.id == i.User.id){ %>
                            <small> <a href="/post/destroy/<%= i.id %>">Delete</a></small>
                            <% } %>    
                        <p class="content"><%= i.content %></p>
                       
                        <div class="post-comments-container">
                            <%if(locals.user){%>
                                <form id="new-comment-form" action='/comment/create' method="post">
                                    <Label for="new-comment-content">Comment: </Label>
                                    <textarea name="content" id="new-comment-content" cols="30" rows="1" placeholder="Type here.." required></textarea>
                                    <input type="hidden" value="<%= i.id %>" name="post">
                                    <input type="submit" value="Add Comment">
                                    
                                </form>
                            <%}%>
                            <div class="post-comments-list">
                                <ul id="post-comment-<%=i.id%>">
                                    <% for(let comment of i.comment){ %>
                                    <li>
                                        <p><%= comment.content %></p>
                                        <small>
                                            <%= comment.User.name %>
                                        </small>
                                        <% if(locals.user && locals.user.id == comment.User.id){ %>
                                            <small> <a href="/comment/destroy/<%= comment.id %>">Delete</a></small>
                                        <% } %>    
                                    </li>
                                    
                                    <%}%>
                                </ul>

                            </div>
                        </div>
                    </li>
                <%} %>    
            </ul>
        </div>
</section>
