<!-- **this is the format for the "Partial" file rendering works when you don't create a layout ** -->
<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
        
    </head>
    <body>
        <%- include('_header'); -%>

        <h1>Main project / <%= title %> </h1>

        <%- include('_footer'); -%>
    </body>
</html> -->

<!-- **this is the format to follow express-ejs-layout to fill a single layout when follow router path, its jst fill the variable of layout** -->

<h1>Main project / <%= title %> </h1>
<section id="feed-posts">
    <h4>Posts</h4>
    <% if(locals.user){ %>
        <form  id="new-post-form" action="/post/create" method="post">
            <textarea name="content" id="new-post-content" cols="30" rows="3" placeholder="type here...."></textarea>
            <input type="submit" value="post">
        </form>
    <%}%>
    
    <div id=" posts-display">
        <div id="container">
            <ul class="post-list">
                <% for(let i of post_list){ %>
                    
                    <li>
                        <div>User: <%= i.User.name %> </div>
                        <p><%= i.content %></p>
                        <div class="post-comments-container">
                            <%if(locals.user){%>
                                <form id="new-comment-form" action='/comment/create' method="post">
                                    <Label for="new-comment-content">Comment: </Label>
                                    <textarea name="content" id="new-comment-content" cols="30" rows="1" placeholder="Type here.."></textarea>
                                    <input type="hidden" value="<%= i.id %>" name="post">
                                    <input type="submit" value="Add Comment">
                                </form>
                            <%}%>
                        </div>
                    </li>
                <%} %>    
            </ul>
        </div>
</div>
</section>
