<!-- **this is the format for the "Partial" file rendering works when you don't create a layout ** -->
<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
        
    </head>
    <body>
        <%- include('_header'); -%>

        <h1>Main project / <%= title %> </h1>

        <%- include('_footer'); -%>
    </body>
</html> -->

<!-- **this is the format to follow express-ejs-layout to fill a single layout when follow router path, its jst fill the variable of layout** -->

<h1>Main project / <%= title %> </h1>
<section id="feed-posts">
     
    <% if(locals.user){ %>
        
        <h4>Posts</h4>
        <form  id="new-post-form" action="/post/create" method="post">
            <textarea name="content" id="new-post-content" cols="30" rows="3" placeholder="type here...." required ></textarea>
            <input type="submit" value="post">
        </form>
    <%}%>
    
   
        <div id="posts-display-container">
            <ul class="post-list">
                <% for(let i of posts){ %>
                    <%- include("_post",{i:i}); -%>
                <%} %>        
                
            </ul>
        </div>
</section>
<section id="user-friends">
    <% if(locals.user){ %>
        <div id="friends">
            <h4>Friends</h4>
            <ul>
               
                <% var userFriend = friendship.filter(function(data){%>
                   
                    <% return data.from_user.toString() == locals.user._id ; %>
                <%})%>
                <%= console.log(userFriend) %>
                <% if(userFriend.length > 0){ %>
                    <% for(friend of userFriend){ %>
                            <% let friendName = all_user.filter(function(data){%>
                                <% return data.id == friend.to_user ; %>
                            <%})%>
                            <li> <%= friendName[0].name %> <a href="/user/removeFriend/<%= friend._id%>">remove</a> </li>
                    <%}%>
                <%}%>
            </ul>
            
        </div>
    <%}%>
   
    <div id="user">
        <h4> Users</h4>
        <% for(user of all_user){%>
            <p>
                <a href="/user/profile/<%= user.id %>"><%=user.name%></a>
            </p>
        <%}%>
    </div>
    <%- include('_chat_box') -%>
   
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>
<% if(locals.user){%>
    <!-- <%= console.log(curr_user) %> -->
     <script>
         new chatEngine("user-chat-box",'<%= curr_user.email %>');
     </script>
 <%}%>


  

<script src="<%= assetPath('js/post_comment.js') %>"></script>
<script src="<%= assetPath('js/home_posts.js') %>"></script>
<script src="<%= assetPath('js/toggleLike.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        // console.log(self);
        let toggleLike = new ToggleLikes(self);
    })
</script>



